h2,
h3 {
  padding: 5px 5px 0px 0px;
}

form,
#bestBookContainer ul,
#addedBook {
  display: flex;
  flex-direction: column;
  padding: 0px 5px;

  border: 1px solid black;
  background-color: rgb(235, 235, 235);

  list-style: none;
}

#bestBookContainer ul {
  padding: 0;
}

#addedBook {
  margin-top: 5px;
  display: block;
}

form input,
form select {
  margin-bottom: 5px;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.libraryBooks {
  padding: 5px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
}

.libraryBooks:nth-last-of-type(even) {
  background-color: rgb(205, 205, 205);
}

.libraryBooks:nth-last-of-type(odd) {
  background-color: rgb(156, 156, 156);
}

.libraryBooks button {
  width: 100%;
  cursor: pointer;
}

.libraryBooks:last-of-type {
  border-bottom: none;
}

div.statusBanner {
  position: absolute;
  background-color: rgb(255, 223, 160);
  border: 1px solid rgb(0, 0, 0);
  right: 5px;
  width: 55px;
  text-align: center;
  border-radius: 3px;
}

div.statusBanner.read {
  background-color: rgb(188, 255, 188);
}

li.libraryBooks > div {
  position: initial;
}

li.libraryBooks > div:first-of-type {
  width: 100px;
}

li.libraryBooks > div:first-of-type img {
  width: 100%;
}

li.libraryBooks > div.bookContent, li.libraryBooks > form {
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  position: relative;
  padding: 5px;
  margin-left: 5px;
}

li.libraryBooks > div:last-of-type h3 {
  padding: 0px;
}
