html{
  background-color: black;
}

body {
  max-width: 500px;
  background-color: white;
  border: 2px solid red;
  border-radius: 5px;
  margin: 5px auto;
  padding: 5px;
  min-height: calc(100vh - 10px);
}
