html {
  background-color: black;
}

body {
  max-width: 800px;
  background-color: rgb(165, 165, 165);
  margin: 5px auto;
  padding: 5px;
  min-height: calc(100vh - 10px);
}

.contentContainer {
  padding: 5px;

  border: 1px solid black;
  background-color: rgb(209, 209, 209);
}

.hide {
  display: none;
}
